:root {
  --accent-secondary: var(--mixes-primary-1, #b87f00); /* --mixes-primary-1 from qualtrics */
  --color-black: #171818;
  --text-light: #2e3030;
  --font-body-face: var(--font-family, 'Source Serif 4', Times, serif);  /* --font-family from qualtrics */
  --font-size-xs: 0.875rem;
  --line-height-xs: 1.5rem;
  --title: #171818;
  --layout-padding-xs: 24px;
  --layout-padding-s: 48px;
  --layout-padding-m: 72px;
  --layout-padding-l: 80px;
  --layout-padding: var(--layout-padding-xs); // 24px (default)

  @media (min-width: 768px) {
    --layout-padding: var(--layout-padding-s); // 48px
  }

  @media (min-width: 1280px) {
    --layout-padding: var(--layout-padding-m); // 72px
  }

  @media (min-width: 1440px) {
    --layout-padding: 0;
  }
}

/**
 * The JS added to the theme's footer block provides the "embedded" and "intercept"
 * body classes.
 */

/* Remove the extra footer padding on intercept forms. */
body.intercept .Skin #BrandingFooter {
    margin-top: 0;
}

/* Hide the logo on embedded forms. */
body.embedded #logo-container,
body.embedded #LogoContainer {
    display: none;
}

/* Remove lateral padding from content area to better fill the page width. */
body.embedded #contents .transition-content {
    padding: 0;
}

/* Remove left/right and top/bottom spacing on form when embedded. */
body.embedded .Skin .SkinInner {
    max-width: unset;
    width: auto;
    padding-top: 0;
    display: block;
}

/* Remove left/right padding on question text at all breakpoints. */
body.embedded .Skin .QuestionText,
#contents .transition-content,
#logo-container {
    padding-inline: 0;
}

/* Reset button hovers to black with white text. */
#navigation #previous-button:hover,
#navigation #next-button:hover {
    background-color: black;
    color: white;
}

/* Reset button icon hover to white. */
#navigation #previous-button:hover svg,
#navigation #next-button:hover svg {
    fill: white;
}

.visually-hidden {
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  inline-size: 1px;
  block-size: 1px;
  word-wrap: normal;
  overflow: hidden;
  inline-size: 1px;
  block-size: 1px;
}

.footer__global-footer {
  padding: 12px;
}

.footer__global-footer a {
  color: var(--color-black);
  text-decoration: underline;
  text-decoration-color: transparent;
}

.footer__global-footer a.link-paragraph {
  padding-block: 4px;
  box-shadow: 0 -1px 0 0 var(--color-black) inset;
}

.footer__global-footer a.link-paragraph:hover {
  background: #f0f3f4;
  box-shadow: 0 -1px 0 0 var(--accent-secondary) inset;
}

.footer__global-footer .flex-wrapper {
  grid-column: 1 / -1;
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: 768px) {
    flex-flow: row wrap;
  }

  @media (min-width: 1440px) {
    max-inline-size: 1280px;
    justify-content: center;
    margin: 0 auto;
  }
}

.footer__global-footer .flex-wrapper .footer__inner-2 {
  color: var(--title);
  padding: 0;

  @media (min-width: 768px) {
    flex: 1 0 300px;
  }
}
.footer__global-footer .footer__copyright {
  font-family: var(--font-body-face);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: 400;
  margin: 0;
  color: var(--text-light);
}

.footer__global-footer .footer__copyright a {
  font-weight: 800;
}

div#root {
  height: unset;
}
